.top_bar {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  /*background-image: linear-gradient(to right, red, yellow);*/
  background-color: #eedcb3
}

.title {
  float: left;
  display: block;
  color: #59880b;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 28px;
  text-decoration: none;
}

body {
  margin: 0px;
  background-color: white;
}

.flappy_face_screen {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#flappy {
  display: flex;
  justify-content: center;
  margin: 10px;
  border: 10px solid grey;
}

.cropped_sofa {
  height: 200px;
  overflow: hidden;
}

.cropped_sofa img {
  height: 600px;
  width: auto;
  overflow: hidden;
  margin-top: -200;
}